<%- include("partials/header") %> 
<div class="container">
    <form action="" method="post">
        <h3>Facebook Page Integration</h3>
    <button type="submit" class="button">Connect Page</button>
</form>
</div>
<%- include("partials/footer") %> 