<%- include ("partials/header") %> 

<div class="container">
    
    <form action="" method="post">
        <h3> Login to your account</h3>
        <label>Email</label>
        <input type="email" class="field" name="" id="">
        <label>Pasword</label>
        <input type="password" class="field" name="" id="">
        <div class="check">
            <input type="checkbox" name="" class="checkbox">
            <p> Remember Me</p>
        </div>
        <button type="submit" class="button">Login</button>
        <p>New to MyApp? <a href="/">Sign Up</a></p>
    </form>
</div>

<%- include("partials/footer") %> 