<%- include("partials/header") %>

  <div class="container">
    
        <form action="/" method="post">
          <h3> Create Account </h3>
            <label> Name </label>
            <input type="text" class="field" name="" id="">
            <label> Email </label>
            <input type="email" class="field" name="" id="">
            <label> Password </label>
            <input type="password" class="field" name="" id="">
            <div class="check">
              <input type="checkbox" class="checkbox">
              <label>Remember Me</label>
            </div>
            <button type="submit" class="button">Sign Up</button>
            <p> Already have an account? <a href="/login" id="login">Login</a></p>
        </form>
  </div>

<%- include("partials/footer") %> 